.appl-form{
    margin-top: 1%;
    margin-left: 1%;
    margin-right: auto;
    justify-content: space-between;
    display: block;
    border-radius: 1.25rem;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    flex-shrink: 0;
    background: var(--plasma-colors-surface-card);
    box-shadow: 0 0.5em 1.5em rgba(0,0,0,0.1);
    transition: transform 0.4s ease-in-out;
    position: relative;
}
.appl-card{
    display: inline-block;
    margin: 0 1% 0 1%;
  }
.cm-acc-h1{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}
.cm-edit-form{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}
.a-list-h2{
    margin-left: 3%;
}